.App {
  text-align: center;
  display: flex;
}
@font-face {
  font-family: orkneymed;
  src: url(assets/fonts/Orkney-Medium.otf);
}
@font-face {
  font-family: orkneylight;
  src: url(assets/fonts/Orkney-Regular.otf);
}
@font-face {
  font-family: orkneydd;
  src: url(assets/fonts/Orkney-Light.otf);
}
*{
  margin:0;
  padding: 0;
  box-sizing: content-box;
}
